atomicwrites
attrs
beautifulsoup4
blis
catalogue
cchardet
certifi
chardet
click
colorama
crccheck
crcmod
cssselect
cycler
cymem
feedfinder2
feedparser
filelock
idna
import
importlib-metadata
iniconfig
jieba3k
joblib
kiwisolver
lxml
matplotlib
murmurhash
newspaper3k
nltk
numpy
packaging
pandas
Pillow
plac
pluggy
preshed
py
pyparsing
pytest
python-dateutil
pytz
PyYAML
regex
requests
requests-file
scipy
sgmllib3k
six
soupsieve
spacy
srsly
thinc
tinysegmenter
tldextract
toml
tqdm
urllib3
wasabi
zipp
